@import "variables";

/*================================================= General ==========================================================*/
.top_bar_logo_link {
  padding: 0 !important;
  outline: none;
}

.thumbnail_for_post_list {
  float: left;
  width: 100%;
  max-width: 170px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.thumbnail_img_for_posts_single_page {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

/*========================================== Margins and paddings ====================================================*/

/*======== Percentage =========*/

.pb_3per {
  padding-bottom: 3%;
}

.pt_3per {
  padding-top: 3%;
}

.mt_3per {
  margin-top: 3%;
}

/*============= Pixels ========*/

.pb_30 {
  padding-bottom: 30px;
}

.pt_30 {
  padding-top: 30px;
}

.mt_20 {
  margin-top: 20px;
}

/*======================================== Custom Foundation styles ==================================================*/
.top-bar {
  background-color: $grey-800 !important;
  color: white !important;
  ul {
    background-color: $grey-800 !important;
    li {
      &:hover {
        background-color: black !important;
      }
      a {
        color: white !important;
      }
    }
  }
  .top-bar-right {
    .menu {
      .jssocials-shares {
        margin: 0 !important;
        .jssocials-share {
          a {
            font-size: 12px;
          }
        }
      }
      li {
        &:hover {
          background-color: transparent !important;
        }
      }
    }
  }
}
.title-bar {
  background-color: $grey-900 !important;
}

.small_hr_for_below_md {
  display: none;
}

/*================================================== Footer ==========================================================*/
.footer_section {
  margin-bottom: 30px;
}
.my_footer {
  background-color: $grey-800;
  color: $grey-200;
  padding-top: 30px;
  padding-bottom: 30px;
}
.social_icons_wrapper {
  text-align: center;
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      display: inline-block;
      a {
        text-align: center;
        margin: 0 auto;
        display: block;
        padding: 20px 25px;

        color: white;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#nav {
  width:750px;
  margin:0 auto;
  list-style:none;
}
#nav li {
  float:left;
}
#nav a {
  display:block;
  text-align:center;
  width:150px; /* fixed width */
  text-decoration:none;
}

#my-sidebar-footer {
  ul {
    @extend .footer_link_list;
  }
}

.footer_link_list {
  a {
    color: $grey-200;
    &:hover {
      color: #2199e8;
    }
  }
  list-style: none;
  margin: 0;
}

.bottom_small_text_wrapper {
  .bottom_small_text {
    font-size: 12px;
    float: right;
    color: white;
    &:hover {
      color: #2199e8;
    }
  }
}
/*================================================= My main sidebar ==================================================*/
.my_main_sidebar {
  padding-top: 70px;
}
.sidebar_widget {
  margin-bottom: 20px;
}
/*================================================ Contact form ======================================================*/
.errors_panel {
  background-color: $grey-200;
  padding: 30px;
  margin-bottom: 20px;
}
.thanks_panel {
  background-color: #C5E1A5;
  padding: 30px;
  margin-bottom: 20px;
}
/*============================================== Media Queries =======================================================*/
@media #{$below-767} {
  .bottom_small_text_wrapper {
    text-align: center;
    .bottom_small_text {
      float: none;
    }
  }
}

@media #{$below-639} {
  .my_main_sidebar {
    padding-top: 0;
  }
  .small_hr_for_below_md {
    display: block;
    max-width: 100px;
    margin: 0 auto 20px auto;
    padding-top: 20px;
  }
  .social_icons_wrapper {
    ul {
      li {
        a {
          padding: 10px 15px;
        }
      }
    }
  }
}

@media #{$below-450} {
  .thumbnail_for_post_list {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
}